*, ::before, ::after{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: none;
}

/* TYPOGRAPHY */

.user-info {
  font-size: 2rem;
  margin: 0;
}

.user-bio {
  font-size: 1.125rem;
  margin: 0;
}


/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em 1em;
  height: 7%;
}

@media (min-width: 500px) {
  .header {
    width: 75%;
    max-width: 500px;
    margin: auto;
  }
}

.user-icon,
.messages-icon {
  color: #D9DEE6;
}

.fa-paw{
  background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
  color: white;
  border-radius: 30px;
  padding: .75em 1em;

}

/* MAIN SECTION */

main {
  width: 100%;
  height: 93%;
  padding: 0 1em 1em;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);

}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 70%;
}

@media (min-width: 500px) {
  .image-wrapper {
    width: 75%;
    max-width: 500px;
    max-height: 80%;
    margin: auto;
  }
  
}

.user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  background-color: white;

}

.image-info-wrapper {
  color: white;
  position: absolute;
  bottom: 2em;
  left: 2em;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) -11.44%, rgba(0, 0, 0, 0) 39.97%);
  border-radius: 25px;
}

.badge {
  position: absolute;
  top: 5%;
  left: 2%;
  width: 30vw;
  min-width: 100px;
  max-width: 200px;
  transform: rotate(-25deg);
}

/* Bottom Section */

.swipe-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 2em;
}

@media (min-width: 500px) {
  
  
  .swipe-section{
    max-width: 75%;
    margin: auto;
  }
}

.like-btn{
  width: 90px;
  height: 90px;
  box-shadow: 0px 10px 20px #dadadc;
  border-radius: 50%;
}

.like-btn .fa-heart{
  background: linear-gradient(228.9deg, #00D894 10.21%, #56E9CD 71.53%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.like-btn:hover,
.like-btn:focus{
  background-color: #DBFFF4;
}

.pass-btn{
  width: 90px;
  height: 90px;
  box-shadow: 0px 10px 20px #dadadc;
  border-radius: 50%;
}

.pass-btn .fa-x{
  background: linear-gradient(225.83deg, #E82D70 -9.5%, #F06957 109.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pass-btn:hover,
.pass-btn:focus{
  background: #FFE7EF;
}







